.Menu{
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-left: -8px;
}

.danger{
  background-color: #de0000;
  border-color: #de0000;
  color: #fff;
  text-align: center;
  padding: 2% 2%;
}

.warning{
  background-color: #00A0AF;
  border-color: #00A0AF;
  color: #fff;
  text-align: center;
  padding: 7% 10%;

}
.buttonContainer{
  position: fixed;
  right:    0;
  bottom:   5%;
  width:100%;
  text-align: center;
  padding: 9%;
}
.buttonContainer button {
  font-size: 1.75rem;
}

.item{
  float: right;
}
/*.title{
  text-align: center;
  width: 70%;
  color: 	#00CED1;
}*/

h4 {
  text-align: center;
  width: 60%;
  margin: 8%auto;
  color: 	#00CED1;
}

.btn-block{
  display: block;
  width: 100%;
}
