#googlemaps { 
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the alert buttons */
}

.stretch {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#alerts {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  margin-top: 90%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.danger {
  background-color: #de0000;
  border-color: #de0000;
  color: #fff;
  text-align: center;
  padding: 10%;
}

.warning{
  background-color: #00A0AF;
  border-color: #00A0AF;
  color: #fff;
  text-align: center;
  padding: 10%;
  margin-top: 10%;
}

.buttonContainer button {
  font-size: 1.5rem;
  border-radius: 0px;
  -webkit-box-shadow: 0px 14px 6px -1px rgba(128,128,128,1);
}
