.guide {
    padding-top: 20px;
    background-color: black;
    height: 100vh;
}

.button {
    color: white;
    background-color: #00a0af;
    padding: 5%;
    font-size: 6.0vw;
    margin-top: -30px;
}

.emptyDiv {
    background-color: black;
    height: 10vh;
}   