.ListGroup {
  position: absolute;
}

.list-group-item-heading{
  color: #000;
}

a {
  color: #00A0AF;
  font-size: fixed;
  padding:5%;
}

.Arrow {
  position: Absolute;
  right: 6.25%;
}

.Phone {
  height: 30px;
}

.Sms {
  height: 30px;
}
