.ListGroup {
  position: absolute;
<<<<<<< HEAD
=======
  padding-top: 60px;
>>>>>>> 47794de635ebae262bd78ac5cf08b365fadbc724
}

.list-group-item-heading{
  color: #000;
}

a {
  color: #00A0AF;
  font-size: fixed;
  padding: 3%;
}

.Arrow {
  position: Absolute;
  right: 6.25%;
}

.Phone {
  height: 40px;
}

.Sms {
<<<<<<< HEAD
  padding-left: 10px;
=======
  padding-left: 7px;
>>>>>>> 47794de635ebae262bd78ac5cf08b365fadbc724
  height: 40px;
}
