.ListGroup {
  position: absolute;
  margin-top: 50px;
}

.list-group-item-heading{
  color: #000;
}

a {
  color: #00A0AF;
  font-size: fixed;
  padding: 3%;
}

.Arrow {
  position: Absolute;
  right: 6.25%;
}

.Phone {
  height: 40px;
}

.Sms {
  padding-left: 5px;
  height: 40px;
}
