.Menu > .navbar-dark.navbar {
  background-color: #000;
}

.Menu {
  z-index:1;
  position: relative;
}

.Menu h4 {
  color: #00CED1;
}

div.navbar-collapse {
    font-size: 18pt;
    font-family: HelveticaNeue-Light;
    text-align: left;
    line-height: 32pt;
}
.navbar-collapse  li {
    background-color: #fff;
}
.navbar-collapse  li a{
    color: rgba(51, 51, 51, 1);
}

.navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
    width: 100%;
}

  
.navbar-absolute + div {
      margin-top: 68px;
}
