.Container {
  padding-top: 18.00%;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-family: "HelveticaNeue", sans-serif;
}

.Text{
  color: #333333;
  font-size: 5.0vw;
  background-color: white;
}

.Input{
  border: 1px solid #CCCCCC;
  border-radius: 0;
  font-size: 5.0vw;
}

.Checkbox{
  width: 32px;
  height: 32px;
}

.Danger{
  margin-right: 5%;
}

.SaveButton {
  background-color: #00A9AF;
  padding: 5%;
  font-size: 5.0vw;
}

.RemoveButton {
  background-color: #333333;
  padding: 5%;
  font-size: 5.0vw;
}

.Modal {
  position: absolute;
  top: 35%;
}

.ModalText{
  color: #333333;
  font-size: 5.0vw;
  background-color: white;
  text-align: center;
}

.YesButton {
  background-color: #00A9AF;
  font-size: 5.0vw;
  border-radius: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 40vw;
}

.NoButton{
  background-color: #333333;
  font-size: 5.0vw;
  border-radius: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 40vw;
}

.modal-footer {
    justify-content: center;
}
