.Container {
  padding-top: 18.00%;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-family: "HelveticaNeue", sans-serif;
}

.Title {
  color: #00A9AF;
  font-size: 1.313em;
  font-weight: bold;
}

.LineBreak {
  border: none;
  margin-top: 2.00%;
  margin-bottom: 0%;
  height: 1px;
  background-color: #999999;
}

.ContactPolice{
  color: #333333;
  opacity: 0.25;
  margin-top: 3.20%;
  margin-bottom: 9.2%;
  font-size: 1.313em;
}

.Toggle {
  position: Absolute;
  margin-top: 1.2%;
  right: 6.25%;
}

.ListGroup {
  margin-top: 0%;
}

.ListItem {
  margin-top: 2%;
  margin-bottom: 0%;
  padding: 0% 0;
  border: 0;
}

.Id {
  color: #333333;
  font-size: 1.3em;
}

.Mobile {
  color: #333333;
  font-size: 1.188em;
  font-weight: bold;
}

.Right{
  position: Absolute;
  right: 6.25%;
}

.AlertLevel {
  color: #333333;
  font-size: 1.3em;
  font-style: italic;
}

.Button {
  background-color: #00A9AF;
  padding: 5%;
}
